<section class="product__container">
    <div class="product-image__container">
        <img src="/assets/fone-de-ouvido-1.jpg">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">dasdasd</h2>
        <h3 class="product__price">12313123</h3>
        <p>Estoque disponivel:</p>
        <label for="">
            quantidade:
            <input type="number">
            unidades(s)
        </label>
        <p class="product__avaiability">
            10 unidade(s) em estoque
        </p>
        <button>adicionar ao carrinho</button>
    </div>
</section>