<h2 class="cart-title">Carrinho</h2>
<div *ngIf="itensCarrinho.length > 0;">
    <ul>
        <li *ngFor="let itemCarrinho of itensCarrinho">
            <img [src]="itemCarrinho.imagem">
            <p>{{itemCarrinho.descricao}}</p>
            <p>Preço: {{itemCarrinho.preco | currency: "BRL"}}</p>
            <label>
                Quantidade
                <input type="number" [(ngModel)]="itemCarrinho.quantidade">
            </label>
            <button class="remove-button" type="button" (click)="removerProduto(itemCarrinho.id)"><i class="fa-solid fa-xmark"></i></button>
        </li>
    </ul>
    <h2 class="cart-total">Total: rs13212</h2>
    <button class="buy-button">Comprar</button>
</div>